<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px">
  <div class="col-9">
        <div>
            <h4 style = "margin-bottom:4px; color: rgb(100,100,100);">
              {{job['title']}}
            </h4> 
        </div>
        <div>
            <b>Location: </b>{{job['location']}}
        </div>
                
        {% if job['salary']!=None  %}
        <div>
            <b>Salary: </b>{{job['salary']}}
        </div>
        {% endif %}
  </div>
  <div class="col-3 align-self-center col-auto " >
    <a href="/job/{{job['id']}}" type="button" class="apply_success apply_btn" >Apply</a>
  </div>
</div>