<nav class="navbar shadow fixed-top" id="nav">
    <div style = "padding: 0px 10px 10px 12px;">
      <img src="static/logo.png" alt="logo" width="30" height="24" class="d-inline-block align-text-top"/>
    </div>
            
    <div class="nav-menu justify-content-end">
      <a class="active" href="https://randd-careers.onrender.com/">Home</a>
      <a href="#portfolio">Portfolio</a>
      <a href="mailto:mounicamanthena15@gmail.com?subject=Question%20about%20Job%20Openings&body=My%20Name%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20Question%3A%20%3CEnter%20your%20question%20here%3E">Contact</a>  
    </div>
</nav>
